body{
    font:16px 'Urbanist', sans-serif;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: $color2;
    &:hover{
        color: #000;
    }
}
.container{
    max-width: 1472px;
}
header{
    box-shadow: 0px 2px 11px 2px #00000014;
    background-color: #fff;
    position: relative;
    @media screen and (max-width: 991px){
        .navbar>.container-fluid{
            flex-wrap: nowrap;
        }
        .navbar-brand{
            img{
                max-width: 90%;
            }
    
        }
        .navbar-collapse{
            position: absolute;
            right: 0px;
            top: 64px;
            background-color: rgb(255, 255, 255);
            width: 100%;
            padding: 1rem;
            z-index: 11;
        }
    }
}
.text-color1{
    color:$color1;
}
.text-color2{
    color:$color2;
}
.text-color3{
    color:$color3;
}
.text-color5{
    color:$color4;
}
.text-color4{
    color:#000;
}
.text-theme1{
    color:$theme-color1;
}
.btn-theme, .bg-theme{
    background-color: $theme-color;
}
.btn-theme1, .bg-theme1{
    background-color: $theme-color1;
}
.font16{
    font-size: 16px;
}
.font18{
    font-size: 18px;
}
.navbar-light{
    @extend .font18;
    .navbar-nav{
        flex: 0 0 72%;
        justify-content: space-around;
        .nav-link{
            color:$color1;
            font-weight: 600;
            padding-left: 0;
            padding-right: 0;
            &.active, &:hover{
                color:$theme-color1;
                position: relative;
                &:after{
                    content: '';
                    position: absolute;                  
                    width: 50%;
                    height: 3px;
                    background-color: $theme-color1;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: 0;
                }
            }
        }
    }
}
.home-banner{
    background-color: #fff5f9;
}
.search-content{
    max-width: 1000px;
    background-color: #fff;
    padding:15px;
    margin: 0 auto;
    width: 100%;
    box-shadow: 0px 0px 6px 1px #00000014;
    border-radius: 3px;
    .search-box{
        width: 100%;
        input{
            @extend .font18;
        }
        input, select{
            &:focus{
                box-shadow: none;
            }
        }
        button{
            @extend .font18;
            width: 160px;
            height: 56px;
            // margin-left: 3rem;
        }
        @media screen and (max-width: 991px){
            button{
                height: auto;
                font-size: 16px;
                img{
                    display: none;
                }
            }
            input{
                padding-left: 0;
                padding-right: 0;
                font-size: 16px;
            }
        }
    }
}
.border-color{
    border-color: #e7e8ea !important;
}
.border-theme{
    border-color: $theme-color1 !important;
}
.box-shadow-normal{
    box-shadow: 0px 0 6px 0px #0000001f;
}
.gray-bg{
    background-color: #f8f9fa;
}
.img-content{
    position: relative;
    .badge{
        position: absolute;
        left: 10px;
        top:  10px;
        z-index: 1;
    }
    .wishlist{
        position: absolute;
        right: 10px;
        top:  10px;
        z-index: 1;
        background-color: #fff;
        border-radius: 4px;
        width: 26px;
        height: 26px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            fill: #bbb;
        }
        &.active{
            svg{
                fill: #20bfa9;
            }
        }
    }
}

.accordion-item {
    border: 0;
    margin-bottom: 10px;
    .accordion-header{
        .accordion-button, .accordion-button:not(.collapsed){
            background-color: #f5f5f5;
            box-shadow: none;
            color: #262729;
        }
    }
}
.btn-custom{
    background-color: #eeeeee;
}
footer{
    background-color: #720b36;
    color: #fff;
    a{
        color: #fff;
    }
    .copyright{
       background-color: $theme-color1;
       font-size: 15px;
    }
}
.newsletter{
    .input-group{
        button{
            position:relative;
            left: -34px;
            height: 32px;
            width: 32px;
            display: flex;
            align-items: center;
            padding: 0;
            justify-content: center;
            top: 3px;
        }
    }
}
.page-header{
    background-image: url(../img/page-header.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.inner-page-content{

}
.pagination{
    .page-item{
        margin: 0 .5rem;
        &:first-child, &:last-child{
            .page-link{
                border-radius: 0;
            }
        }
        .page-link{
            color: $color2;
            min-width: 40px;
            text-align: center;
            border: 0;
            box-shadow: 0px 1px 2px 0px #00000042;
        }
        &.active{
            .page-link{
                background-color: $theme-color1;
                color: #fff;
            }
        }
    }
}
.offices-address{
    .office-list{
        max-width: 700px;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
}
.bg2{
    background-color: #ffecf4;;
}
.login-content{
    max-width: 540px;
}
.mini-nav{
    a{
        position: relative;
        padding: 1rem 0;
        display: inline-block;
        &.active{
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: $theme-color1;
                left: 0;
                bottom: 0;
            }
        }
    }
}
.pricing{
    &.bg-theme{
        color: #9fbbc1;
        svg{
            path{
                fill: #9fbbc1;
            }
        }
    }
}