:root {
    --theme-color:#2F87E9;
    --primary-color:#2F87E9;
    --base-color:#171A1C;
    accent-color: #2F87E9;

}
*, *::before, *::after{
    box-sizing: border-box; 
}
*{
    margin: 0; 
    padding: 0; 
}
html{
    scroll-behavior: smooth;
}
body{
    font:14px "IBM Plex Sans", sans-serif;
    margin: 0;
    padding: 0;
    color: #171A1C;
    line-height: 1.55;
    background-image: url(../img/bg.svg);
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;

}
.bg-theme{
    background-color: var(--theme-color);
}
.primary-theme{
    background-color: var(--primary-color);
}
.theme-color{
    color: var(--theme-color);
}
.bg-white{
    background-color: #fff !important;
}
.color2{
    color: #6B6B6B;
}
.color3{
    color: #577691;
}
.primary-color{
    color: var(--primary-color);
}
.base-color{
    color: var(--base-color);
}
.alert-danger{
    color: #FF2D59;
}
.warning{
    color: #FC0;
}
.success{
    color: #4ADB61;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding-inline: clamp(1rem, 5dvw, 1rem);
}
.text-white{
    color: #fff;
}
.text-white2{
    color: rgba(255, 255, 255, 0.80);
}
.text-decoration-none{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.text-center{
    text-align: center;
}
.text-start{
    text-align: start !important;
}
.text-uppercase{
    text-transform: uppercase;
}
.d-flex{
    display: flex !important;
}
.d-inline-flex{
    display: inline-flex !important;
}
.d-inline-block{
    display: inline-block;
}
.d-block{
    display: block;
}
.d-grid{
    display: grid;
}
.two-column-grid{
    grid-template-columns: 1fr 1fr;
}
.three-column-grid{
    grid-template-columns: 1fr 1fr 1fr;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: start;
}
.justify-center{
    justify-content: center !important;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: end;
}
.flex-wrap{
    flex-wrap: wrap;
}
.text-field{
    border-radius: 8px;
    border: 1px solid #D8D8D8;
    padding: 12px 16px;
}
.w-100{
    width: 100%;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-900{
    font-weight: 900;
}
.fs-10{
    font-size: 10px;
}
.fs-11{
    font-size: 11px;
}
.fs-12{
    font-size: 12px !important;
}
.fs-14{
    font-size: 14px !important;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size:20px;
}
.fs-24{
    font-size:24px;
}
.fs-28{
    font-size: clamp(20px, 5dvw, 28px);
}
.fs-32{
    font-size: clamp(26px, 4dvw, 32px);
}
.fs-42{
    font-size: 42px;
    letter-spacing: -0.1px;
    line-height: normal;
}
.fs-56{
    font-size: 54px;
    letter-spacing: -0.1px;
    line-height: normal;
}
.fs-40{
    font-size: 40px;
    letter-spacing: -0.1px;
    line-height: normal;

}
.fs-2{
    font-size: clamp(34px, 5dvw, 78px);
}
.fs-4{
    font-size: clamp(28px, 5dvw, 40px);
}
.fs-3{
    font-size: clamp(28px, 5dvw, 56px);
}
.fs-1{
    font-size: clamp(44px, 5dvw, 100px);
}
.box-shadow{
    box-shadow: 0px 10px 100px 0px rgba(47, 135, 233, 0.10);
}
.box-shadow2{
    box-shadow: 0px 8px 20px -6px rgba(47, 135, 233, 0.60);
}
.box-shadow3{
    box-shadow: 0px 4px 28px 0px rgba(47, 135, 233, 0.11);
}
.no-shadow{
    box-shadow: none !important;
}
.rounded{
    border-radius: 12px;
}
.rounded-20{
    border-radius: 20px;
}
.rounded-8{
    border-radius: 8px !important;
}
.mobile-banner-content{
    img{
        display: none;
    }
}
.gap-x-6{
    column-gap: 6px !important;
}
.gap-x-2{
    column-gap: 2px !important;
}
.gap-x-16{
    column-gap: 16px;
}
.gap-y-16{
    row-gap: 16px !important;
}
.gap-x-24{
    column-gap: 24px !important;
}
.gap-y-24{
    row-gap: 24px;
}
.gap-x-32{
    column-gap: 32px;
}
.gap-x-48{
    column-gap: 48px;
}
.gap-x-10{
    column-gap: 10px !important;
}
.ms-auto{
    margin-left: auto;
}
.mx-auto{
    margin-inline: auto;
}
.mb-0{
    margin-bottom: 0 !important;
}
.m-0{
    margin: 0 !important;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-16{
    margin-top: 16px ;
}
.mt-24{
    margin-top: 24px;
}
.mt-48{
    margin-top: 48px;
}
.mt-32{
    margin-top: 32px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-4{
    margin-bottom: 4px;
}

.mb-16{
    margin-bottom: 16px !important;
}

.mb-24{
    margin-bottom: 24px !important;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-160{
    margin-bottom: 160px;
}
.mb-96{
    margin-bottom: 96px !important;
}
.mt-240{
    margin-top: 240px !important;
}
.mb-96{
    margin-bottom: 96px !important;
}
.mb-32{
    margin-bottom: 32px;
}
.pb-0{
    padding-bottom: 0 !important;
}
.p-0{padding: 0 !important;}

.p-1{
    padding: 24px 20px;
}
.p-15{
    padding: 15px;
}
.lh-1 {
    line-height: 1.3;
}
.button{
    padding: 19px 19px;
    border-radius: 12px;
    border: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
    font: 600 16px "IBM Plex Sans", sans-serif;
    &:hover{
        background-color: #171A1C;
    }
    &.sm{
        padding-block: 12px;
        padding-inline: 12px;
    }
    &.text-decoration-none{
        &:hover{
            text-decoration: none;
        }
    }

}
.call-button{
    box-shadow: 0px 8px 20px -6px rgba(47, 135, 233, 0.60);
}
.theme-bordered{
    border-color: var(--theme-color) !important;
}
.gray-bordered{
    border-color: #6B6B6B !important;
    &:hover{
        color: #171A1C !important;
    }
}
.button-outline{
    border: 1px solid var(--theme-color);
    text-decoration: none;
    display: block;
    &:hover{
        background-color: var(--theme-color);
        color: #fff;
    }
}

.zip-code{
    position: relative;
    input{
        border-radius: 12px;
        border: 1px solid #D8D8D8;
        background: #fff;
        font-size: 16px;
        padding: 8px 10px 8px 26px;
        box-shadow: 0px 8px 20px -6px rgba(23, 26, 28, 0.13);
    }
    svg{
        position: absolute;
        left: 8px;
        top: 8px;
    }
}
.social-icons{
    a{
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: var(--theme-color);
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            transition: .3s;
            svg{
               opacity: .8;
            }
        }
    }
}
.img-fluid{
    max-width: 100%;
    height: auto;
}

.header > .container {
    display: flex;
    align-items: center;
    padding-block: 10px;
    gap: 32px;
}
header.inner-page{
    background-color: #fff;
    + main .main-banner{
        background-color: #F7FAFE;
        background-image: url(../img/bg1.svg), url(../img/bg2.svg);
        background-repeat: no-repeat;
        /*background-size: 100% 100%, 100% 100%;*/
        background-position: top center, bottom center;
        background-size: 100%;
    }
}

.logo {
    /*margin-top: 13px;*/
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
}

.navbar .nav-links li {
    display: flex;
    align-items: center;
    .dropdown-menu li{
        display: block;
    }
}

.navbar .nav-links a {
    color: #171A1C;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    font-weight: 500;
    gap: 2px;
    letter-spacing: 0.5px;
    align-items: center;
    &:hover{
        text-decoration: underline;
        text-underline-offset: 8px;
    }
}
/* Dropdown Menu */
li.dropdown{
    position: relative;
    li:after{
        display: none !important;
    }
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #e5e5e5;
    list-style: none;
    padding: 0;
    min-width: 150px;
    z-index: 1;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color:var(--primary-color);
    color: #fff;
    text-decoration: none !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.contact {
    display: flex;
    align-items: center;
    gap: clamp(16px, 5dvw, 32px);
    margin-left: auto;
     .phone {
        gap: 10px;
    }
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 34px;
    height: 34px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left:auto;
    &.active{
        background-color: #fff;
        z-index: 1111;
        margin-top: -18px;
        .line:nth-child(1){
            transform: rotate(45deg) translate(6px, 5px);
        }
        .line:nth-child(2){
            opacity: 0;
        }
        .line:nth-child(3){
            transform: rotate(-45deg) translate(5px, -4px);
        }
        .line{
            background-color: #000;
            width: 20px;
        }
    }
}

.hamburger .line {
    width: 22px;
    height: 2px;
    background-color: #fff;
}
.package-offer{
    border-radius: 140px 20px;
    width: 100%;
    max-width: 36%;
    padding: clamp(1.2rem, 5dvw, 2.5rem);
    z-index: 1;
    .phone-wifi-icon{
        max-width: 120px;
    }
}
.main-banner{
    position: relative;
    margin-bottom: 10rem;
    &.full-width-banner{
        background-image: url(../img/full-banner-bg.webp);
        background-position: bottom;
        background-size: cover;
        .call-button{
            box-shadow: none;
            width: 200px ;
        }
    }
}
.banner-content{
    padding: clamp(1.5rem, 5dvw, 1rem);
    /* width: 100%; */
    justify-content: space-between;
    inset-inline: 0;
    margin-inline: auto;
    gap: 2rem;
    h1{
        font-size: 60px;
        letter-spacing: -0.4px;
        line-height: 1.2;
    }
    > div.mobile-banner-content{
        flex: 0 0 54%;
    }
}

.package-offer  .fs-2{
    margin-block: 1.5rem;
}

hr{
    border-top:1px solid #DBEAF3;
    border-bottom: 0px;
    margin-block: 1rem;
}

.package-item{
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 10px 100px 0px rgba(47, 135, 233, 0.10);
    padding: 2rem;
    text-align: center;
    transition: .3s;
    i{
        width: 96px;
        height: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--theme-color);
        color: #fff;
        font-size: 32px;
        margin-block: 1rem;
        margin-inline: auto;
        box-shadow:  0px 10px 100px 0px rgba(47, 135, 233, 0.10);
    }
    p{
        margin: 16px 0 44px;
    }
    &.package-item-2{
        i{
            background-color: #FF2D59;
        }
    }
    &.package-item-3{
        i{
            background-color: #D840F7;
        }
    }
    &.package-item-4{
        i{
            background-color: #FFCC00;
        }
    }
    &.package-item-5{
        i{
            background-color: #4ADB61;
        }
    }
    &.package-item-6{
        i{
            background-color: #FF6800;
        }
    }
    .learn-more-btn{
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #F3F4F6;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
        transition: .3s;
    }
    &:hover{
        background-color: var(--theme-color) !important;
        color: #fff;
        box-shadow: 0px 10px 100px 0px rgba(47, 135, 233, 0.10);
        .color2{
            color: #fff;
        }
        .learn-more-btn{
            background-color: #fff;
        }
        i{
            background-color: #fff;
            svg{
                path{
                    fill: var(--theme-color);
                }
            }
        }
    }
}
.packages-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}
.rates{
    .package-item{
        &:hover{
            background-color: #fff !important;
            color: #171A1C;
            .color2{
                color: #171A1C;
            }
        }
        .call-button{
          width: 200px;
        }
        &.package-item-2{
            .theme-color{
                color: #007BFF;
            }
            .call-button{
                background-color: #007BFF;
                box-shadow: 5px 10px 30px 0px rgba(0, 123, 255, 0.50);
            }
            &:hover{
                .call-button{
                    background-color:#171A1C;
                }
                box-shadow: 5px 10px 30px 0px rgba(0, 123, 255, 0.50);
            }
        }
        &.package-item-3{
            .theme-color{
                color:#FF6800;
            }
            .call-button{
                background-color:#FF6800;
                box-shadow: 5px 10px 30px 0px rgba(255, 104, 0, 0.50);
            }
            &:hover{
                box-shadow: 5px 10px 30px 0px rgba(255, 104, 0, 0.50);
                .call-button{
                    background-color:#171A1C;
                }
            }
        }

    }
}
.position-relative{
    position: relative;
}
.services-section{
    margin-bottom: 4rem;
    .fs-42{
        margin-bottom: 4rem;
    }
}
.why-choose-us-section{
    background: rgba(47, 135, 233, 0.04);
    padding-block: 3rem;
    margin-bottom: 4rem;
    .container{
        > .d-flex{
            gap: 4rem;
        }
    }
    .boxes{
        flex: 1 1;
        >div{
            float: left;
            width: 44%;
            &.last{
                margin-left: 4%;
            }
        }
        .box{
            padding: 2rem;
            box-shadow: 0px 25px 100px 0px rgba(255, 45, 89, 0.08);
            z-index: 11;
            position: relative;
            min-height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span{
                font-size: 56px;
                font-weight: 600;
            }
            p{
                font-size: 18px;
                color: #6B6B6B;
            }
            &:first-child{
                span{
                    color: #007BFF;
                }
            }
            &:nth-child(2){
                span{
                    color: #FF6800;
                }
            }
            &:nth-child(2){
                span{
                    color: #FF2D59;
                }
            }
            &:last-child{
                span{
                    color:#4ADB61;
                }
            }
        }
    }
    .why-choose-us-content{
        flex: 1 1;
        p{
            svg{
                width: 20px;
                height: 20px;
                flex: 0 0 20px;
            }
        }
        .box-shadow.rounded.bg-white{
            padding: 1.5rem;
            z-index: 1;
            svg{
                flex: 0 0  44px;
            }
        }
    }
}
.brands{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    place-items: center;
    margin-top: 4rem;
}
.charactor-brand{
    margin-bottom: 4rem;
    > img{
        max-width: 250px;
    }
}
footer{
    background-color:#171A1C;
    padding-top: 3rem;
    color: rgba(255, 255, 255, 0.80);
    a{
        color: rgba(255, 255, 255, 0.80);
        &:hover{
            text-decoration: underline;
        }
    }
    .title{
        margin-bottom: 1rem;
    }
    .container{
        >.d-flex{
            gap: 80px;
            .column{
                flex: 1 1;
                &:first-child{
                    flex: 0 0 30%;
                }
                p{
                    font-size: 16px;
                    margin-bottom: 10px;
                }
            }
        }

    }
}
.bottom-footer{
    border-top: 2px solid rgba(255, 255, 255, 0.05);
    padding-block: 2rem;
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.40);

}
.clients{
    .container{
        background-color: var(--theme-color);
        background-image: url(../img/clients-bg.svg);
        background-repeat: no-repeat;
        background-position-x: right;
        box-shadow: 0px 4px 40px 0px rgba(47, 135, 233, 0.47);
        padding: 4rem;
        border-radius: 16px;
        > .d-flex{
            gap: 4rem;
        }
    }
}

.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.mobile-language-selector{
    display: none;
}



.inner-banner{
    background-color: #ECF1F4;
    padding-top: 80px;
    padding-bottom: 120px;
}

.accordion {
    width: 100%;
    max-width: 1280px;
    margin: 50px auto;
}

.accordion-item {

    margin-bottom: 24px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #D8D8D8;
    &:has(.accordion-header.active) {
        border-color: var(--theme-color);
    }

}

.accordion-header {
    width: 100%;
    padding: 20px 24px;
    text-align: left;
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font: 500 18px "Poppins", sans-serif;
    border-radius: 10px;
    gap: 4px;
    align-items: flex-start;
    &.active {
        border-bottom: 1px solid #D8D8D8;
        border-radius: 10px 10px 0 0;
    }
}

.accordion-header .icon {
    transition: transform 0.3s ease;
    height: 24px;
    svg{
        width: 16px;
        path{
            fill: var(--theme-color);
        }
    }
}

.accordion-header.active .icon {
    transform: rotate(180deg);
}

.accordion-content {
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: white;
}

.accordion-content p {
    margin: 15px 0;
    font-size: 18px;
    color: #6B6B6B;
}



.how-it-works {
    .how-it-works-content {
        gap: 4rem;
        margin-top: 6rem;
        /*margin-bottom: 12rem;*/
        justify-content: center;

        > div {
            display: flex;
            flex-direction: column;
            gap: 8px;
            flex: 1 1;
            font-size: 16px;
            position: relative;
            &:not(:last-child) {
                &::after {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 74%;
                    width: 70%;
                    /*aspect-ratio: 1/1;*/
                    height: 50px;
                    /*border-bottom: 2px dashed var(--theme-color);*/
                    background-image: url(../img/arc.svg);
                    background-repeat: no-repeat;
                    background-position-y: center;
                    background-size: 100%;
                }
            }
            &:nth-child(2){
                &:after{
                    top: 54px;
                    transform: rotateX(180deg);
                }
            }
            i {
                margin-bottom: 1rem;
            }
        }
        &.col-4{
            gap: 2rem;
            > div{
                flex: 0 0 23%;
            }
        }
    }
    &.contract-fiber{
        h3{
            margin-bottom: 1rem;
        }
        .how-it-works-content{
            >div{
                flex: 0 0 20%;
            }
        }
    }
}
.bg-red{
    background-color: #BE2719;
}
.bg-light-blue{
    background-color: #4C9DB5;
}
.bg-light-blue2{
    background-color: #60C0E7;
}
.bg-dark-blue{
    background-color: #184463;
}
.bg-green{
    background-color: #04CC0E;
}
.bg-failed{
    background-color: #FF2D59;
}

.featured-work{
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
     .featured-work-image{
        padding:.8rem .8rem 0 ;
        text-align: center;
         img{
             margin-bottom: -8px;
         }
    }
    >div{

        &:not(:last-child){
            text-align: center;
            a{
                display: block;
            }
        }
    }
    &.portfolio-section{
        .featured-work-image{
            padding: 3rem 3rem 0;
            img{
                margin-bottom: 0;
            }
        }
    }
}
.border-content{
    border: 1px solid #D8D8D8;
}
.border-0{
    border: 0;
}
.professions-container{
    padding-block: 16px;
    padding-inline: 16px;
    a{
        padding: 1rem;
        &.active, &:hover{
            border-radius: 12px;
            background: #FF2D59;
            color: #FFF;
        }
    }
}
.breadcrumbs-menu{
    padding:12px;
    a{
        padding: 12px 14px;
        color: #000000;
        &.active, &:hover{
            text-decoration: none;
            border-radius: 12px;
            background: var(--theme-color);
            color: #FFF;
        }
    }
}

.maintenance-img, .hosting-img{
    background-image: url(../img/maintenance.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-block: 120px;
    padding-inline: 120px;
    margin-bottom: 120px;
}
.hosting-img{
    background-image: url(../img/hosting.svg);
    padding-block: 220px;
    margin-bottom: 40px;
}
.list-services{
    &.d-flex{
        >div{
            flex: 1 1;
        }
    }
}
.testimonail-content{
    background-color: #FEF7F8;
    padding-block: 4rem;
    padding-inline: 3rem;
    .testimonail-item{
        margin-bottom: 5rem;
        .testimonail-img{
            margin-top: -5.5rem;
            margin-bottom: 1rem;
        }
    }
}

    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .product-card-item {
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0px 4px 28px 0px rgba(47, 135, 233, 0.17);

    }
    .blog-listing{
        .product-grid{
            .product-card{
                padding: 24px;
                border-radius: 20px;
                box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
            }
        }
    }
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 40px;
    a.pagination-btn.prev {
        transform: rotateY(180deg);
    }
    .pagination-number.active, .pagination-number:hover {
        background-color: #fff;
        color: var(--primary-color);
        border-bottom: 1px solid var(--primary-color);
    }
    .pagination-number {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        color: #6B6B6B;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        border-bottom: 0px solid #ccc;
        border-radius: 0;
        text-decoration: none;
        font-size: 16px;
        transition: background-color 0.2s ease-in-out;
    }
    .pagination-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        color: var(--theme-color);
        padding: 6px 12px;
        border: 0;
        border-radius: 4px;
        text-decoration: none;
        font-size: 16px;
        transition: background-color 0.2s ease-in-out;
    }
}
.blog-details {
    max-width: 968px;
    margin-inline: auto;
    margin-bottom: 4rem;
}
.blog-quote {
    border-radius: 12px;
    border-left: 4px solid var(--theme-color);
    background: #FFF2F5;
    padding: 32px;
    display: block;
    font-style: italic;
}
.social-icons-contact{
    a{
        svg{
            border: 1px solid var(--theme-color);
            border-radius: 50%;
            padding: 6px;
            width: 32px;
            height: 32px;
            transition: all 0.3s ease-in-out;

        }
        &:hover{
            background-color: #fff;
            box-shadow: 0px 5px 30px 0px rgba(47, 135, 233, 0.19);
            text-decoration: none;
        }
    }
}

.card {
    background: #fff;
    text-align: center;
    flex: 0 0 310px;

}

.progress-circle {
    position: relative;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
}
.progress-circle svg {
    width: 100%;
    height: auto;
}
.progress-circle svg {
    transform: rotate(-90deg);
}

.progress-circle circle {
    fill: none;
    stroke-width: 20;
    stroke-linecap: round;
}

.progress-bg {
    stroke: #e6f0fa;
}

.progress-bar {
    stroke: #2F87E9;
    transition: stroke-dashoffset 1s ease;
}

.score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    p{
        font-weight: 400;
        font-size: 14px;
    }
    /*color: #2F87E9;*/
}
/*------------------------------------*/
.gloassary-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*border-bottom: 2px solid #DBEAF3;*/
    max-width: 1210px;
    margin-inline: auto;
    gap: 24px;
    padding-inline: 0rem;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
.box-header{
    border-bottom: 1px solid #D8D8D8;
    > div{
        flex: 1 1;
    }
}


progress[value] {
    --color: #2F87E9; /* the progress color */
    --background: lightgrey; /* the background color */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    margin: 0;
    border-radius: 4px;
    background: #2F87E9;
    height: 22px;
}
progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background: #F5F6F8;
}
progress[value]::-webkit-progress-value {
    border-radius: 4px;
    background: var(--color);
}
progress[value]::-moz-progress-bar {
    border-radius: 4px;
    background: var(--color);
}
progress[value].failed{
    --color: #FF2D59;
}
progress[value].warning{
    --color: #FFCC00;
}
progress[value].success{
    --color: #4ADB61;
}

/*-----------------------------*/
.audit-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audit-grid {
    display: flex;
    flex-wrap: wrap;
    /*gap: 32px;*/
    justify-content: center;
    row-gap: 44px;
    column-gap: 32px;
}

.audit-card {
    background: white;
    text-align: center;
    /*flex: 1 1;*/
}

.audit-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.audit-score {
}

.audit-status {
    display: flex;
    justify-content: space-between;
}

.audit-status{
    > div {
        flex: 1 1;
        text-align: center;
        border-top: 1px solid #D8D8D8;
        border-right: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;
        padding: 16px 24px;
        &:first-child{
            border-left: 1px solid #D8D8D8;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
        }
        &:last-child{
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
        }
    }
}


.audit-fail {
    color: #ff4d6d;
}

.audit-warn {
    color: #fbbf24;
}

.audit-pass {
    color: #22c55e;
}





.form-group {
    label{
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        &:before {
            content:'';
            -webkit-appearance: none;
            background-color: transparent;
            border: 2px solid #2F87E9;
            border-radius: 6px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 9px;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 7px;
        }
    }
    input{
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
        &:checked{
            +label{
                &:before{
                    background-color: #2F87E9;
                    border-color: #2F87E9;
                }
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 5px;
                    left: 8px;
                    width: 6px;
                    height: 12px;
                    border: solid #fff;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }
        }
    }
    &.gray-checkbox{
        label{
            &:before{
                border-color: #D8D8D8;
                border-width: 1px;
            }
        }
        input{
            &:checked{
                +label{
                    &:before{}
                }
            }
        }
    }
}
.switch{
    input {
        display: block;
        opacity: 0;
        width: 0;
        height: 0;
    }

    label {
        position: relative;
        width: 40px;
        height: 22px;
        display: inline-block;
        background: #DBEAF3;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }

    label:after {
        content: "";
        position: absolute;
        left: 2px;
        top: 3px;
        width: 16px;
        height: 16px;
        background: #FFF;
        border-radius: 50%;
        box-shadow: 1px 3px 6px #6666661f;
    }

    input:checked + label {
        background: var(--theme-color);
    }

    input:checked + label:after {
        left: auto;
        right: 2px;
    }
}

.top-sites{
    .card{
        max-width: 30%;
    }
    >div{
        flex: 1;
    }
}
.progress-container {
    flex: 1;
    >div{
        flex: 1;
    }
    .progress-title {
        display: flex;
        margin-bottom: 5px;
        font-size: 15px;
        gap: 6px;
        span{
            font-weight: 600;
        }
    }

    .progress-bar {
        height: 9px;
        background-color: #f0f0f0;
        border-radius: 10px;
        margin-bottom: 15px;
        overflow: hidden;
    }

    .progress-fill {
        height: 100%;
        border-radius: 10px;
    }

    .puntuacion {
        width: 48%;
        background-color: #4CAF50;
    }

    .fallido {
        width: 10%;
        background-color: #F44336;
    }

    .advertencia {
        width: 1%;
        background-color: #FFC107;
        min-width: 1px; /* Ensures very small percentages are visible */
    }

    .aprobado {
        width: 15%;
        background-color: #2196F3;
    }

}
.report-listing{
    padding: 24px;
    flex-wrap: wrap;
    >div{
        &:not(:last-child){
            max-width: 300px;
        }
    }
    &:not(:last-child){
        border-bottom: 1px solid #D8D8D8;
    }
}
.site-detail-content{
    background-color: #F5F6F8;
    border-left: 4px solid #D8D8D8;
    padding: 16px;
}
.success-report{
    .site-detail-content{
        border-color: #4ADB61;
    }
}
.warning-report{
    .site-detail-content{
        border-color: #FFCC00;
    }
}
.failed-report{}
.pill-span{
    gap: 10px;
    .fw-600{
        background-color: #F5F6F8;
        padding: 8px 12px;
    }
}
.custom-table{
    overflow-x: auto;
    table{
        /*width: 100%;*/
        border-spacing: 0;
        border: 1px solid #D8D8D8;
        border-radius: 12px ;
        thead{
            background-color: #F5F6F8;
            border-radius: 12px 12px 0 0;
            th{
                border-bottom: 1px solid #D8D8D8;
                white-space: nowrap;
                &:first-child{
                    border-top-left-radius: 12px;
                }
                &:last-child{
                    border-top-right-radius: 12px;
                }
            }
        }
        td, th{
            padding: 12px;
        }
        tbody{
            tr{
                td{

                    border-bottom: 1px solid #D8D8D8;
                }
                &:last-child{
                    td{
                        border-bottom: 0;
                    }
                }
            }
        }
    }
    &.lg{
        table{
            th, td{
                padding: 18px 20px;
            }
        }
    }
}
.filter-button, .filter-btn{
    padding: 11px 12px;
    margin-top: 30px;
}
.filter-btn {
    display: none;
}
.product-list-container{
    display: flex;
    margin-bottom: 4rem;
    align-items: flex-start;
    .sidebar-filter {
        display: block;
        position: sticky;
        transform: none;
        height: auto;
        top: 10px;
    }
    .sidebar-filter {
        width: 300px;
        padding: 0 16px;
        h3{
            margin-bottom: 2rem;
        }
    }

    .filter {
        margin-bottom: 16px;
    }
 .product-listing {
        flex: 1;
        padding: 0 0 0 30px;
    }

    .product-card {
        padding: 24px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    }
    .close-btn {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        background-color: transparent;
        font-size: 18px;
        cursor: pointer;
        z-index: 1100;
    }
}
.check-list{
    li{
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        position: relative;
        /*background-image: url(../img/check-mark.svg);*/
        /*background-repeat: no-repeat;*/
        /*background-position: left top;*/
        padding-left: 32px;
        margin-bottom: 12px;
        &:before{
            content: '';
            display: inline-block;
            transform: rotate(45deg);
            height: 12px;
            width: 6px;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            position: absolute;
            left: 8px;
            top: 4px;
            z-index: 1;
        }
        &:after{
            content: '';
            display: inline-block;
            width: 22px;
            height: 22px;
            background-color: #2F87E9;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
        }

    }
}
.tools-container{
    .tools-list{
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        border-radius: 20px;
        margin-bottom: 2rem;
        &.seo{
            background-color: rgba(47, 135, 233, 0.04);
        }
        &.accesssibility{
            background-color: rgba(255, 45, 89, 0.04);
            .theme-color{
                color: #FF2D59;
            }
            ul{
                li{
                    &:after{
                        background-color: #FF2D59;
                    }
                }
            }
        }
        &.legality{
            background-color: rgba(216, 64, 247, 0.04);
            .theme-color{
                color: #D840F7;
            }
            ul{
                li{
                    &:after{
                        background-color:#D840F7;
                    }
                }
            }
        }
        &.usability{
            background-color: rgba(255, 204, 0, 0.04);
            .theme-color{
                color: #FFCC00
            }
            ul{
                li{
                    &:after{
                        background-color:#FFCC00
                    }
                }
            }
        }
        &.security{
            background: rgba(74, 219, 97, 0.04);
            .theme-color{
                color: #4ADB61;
            }
            ul{
                li{
                    &:after{
                        background-color:#4ADB61;
                    }
                }
            }
        }
        &.certiscore{
            background: rgba(255, 104, 0, 0.04);
            .theme-color{
                color: #FF6800;
            }
            ul{
                li{
                    &:after{
                        background-color:#FF6800;
                    }
                }
            }

        }
        > div{
            flex: 1 1;
        }
        &:nth-child(even){
            flex-direction: row-reverse;
        }
    }
}

@media screen and (max-width:1099px) {
    .navbar .nav-links a{
        font-size: 14px;
    }
    .navbar .nav-links li {
        &:not(:last-child) {
            &::after {
                margin-inline: 8px;
            }
        }
    }
    .portfolio-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .featured-work-image{
            flex-direction: column;
            img{
                margin-left: initial;
            }
        }
    }

}


@media screen and (max-width:991px) {
    .product-list-container {
        flex-direction: column;
        .product-listing{
            padding-left: 0;
        }
        .close-btn {
            display: block;
        }
        .sidebar-filter {
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            background-color: #f4f4f4;
            transform: translateX(-100%);
            z-index: 1000;
            padding-block: 1rem;
            &.show{
                transform: translateX(0);
            }
        }
    }
    .filter-btn {
        display: block;
        margin-top: 0;
        margin-bottom: 36px;
    }
    .progress-container{
        flex-wrap: wrap;
    }
    .container{
        padding-inline: 1rem;
    }

    .clients{
        .container{
            padding: 2rem 1rem;
            border-radius: 0;
            .d-flex{
                flex-direction: column;
                gap: 2rem;
                .ms-auto{
                    margin-left: initial;
                }
            }
        }
    }
    .navbar .nav-links {
        position: fixed;
        top: 0px;
        right: 0;
        background-color: #fff;
        flex-direction: column;
        width: 100%;
        padding-inline: 1.5rem;
        align-items: end;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        opacity: 0;
        pointer-events: none;
        height: 100%;
        /* max-width: 300px; */
        z-index: 11;
        padding-top: 3rem;
    }
    .navbar .nav-links a {
        /* color: #fff; */
        flex-direction: row-reverse;
        font-weight: 700;
    }
    .navbar .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
        background-color: var(--theme-color);
        border-radius: 4px;
        svg{
            width: 36px;
            height: 36px;
        }
    }

    .navbar .nav-links.active {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
    }
    .navbar .nav-links li {
        &:not(:last-child) {
            &::after {
                display: none;
                margin-inline: 8px;
            }
        }
    }
    .contact {
        display: none;
    }
    .banner-content{
        /* flex-wrap: wrap; */
        padding-block: 0;
        gap: 16px;
        /*text-align: center;*/
        justify-content: center;
        h1{
            font-size: 44px;
        }
        > img{
            max-width: 200px;
            height: auto;
        }
    }
    .fs-56{
        font-size: 40px;
    }
    .fs-42{
        font-size: 36px;
    }
    .fs-20{
        font-size: 18px;
    }
    .fs-18 {
        font-size: 16px;
    }
    .fs-16 {
        font-size: 14px;
    }
    .fs-24{
        font-size: 20px;
    }
    .package-offer{
        max-width: 46%;
    }
    .banner-content .fs-16.fw-500.text-white2{
        font-size: 12px;
    }

    .main-banner {
        .banner-bg {
            object-fit: cover;
        }
    }
    .package-offer .fs-2{
        margin-block: 0rem;
    }
    .package-offer {
        border-radius: 70px 10px;
        padding-block: 2rem;
    }
    footer{
        .container{
            >.d-flex{
                flex-wrap: wrap;
            }
        }
    }
    .main-banner {
        margin-bottom: 3rem;
        & .duck {
            display: none;
            img {
                margin-left: -100px;
                max-width: 260px;
            }
        }
    }
    .why-choose-us-section {
        & .container {
            >.d-flex {
                flex-direction: column;
            }
        }
    }
    .packages-list {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .brands{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .mb-96{
        margin-bottom: 48px !important;
    }
    .mb-160 {
        margin-bottom: 80px;
    }
    .how-it-works {
        .how-it-works-content {
            flex-wrap: wrap;
            margin-block: 0rem;
            > div{
                &:after{
                    display: none;
                }
            }
        }
    }
    .featured-work{
        gap: 1rem;
    }
}
@media screen and (max-width:800px) {
    .top-sites{
        flex-direction: column;
        .card{
            max-width: 100%;
        }
    }
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .testimonail-content{
        padding: 2rem 1rem;
    }
    .three-column-grid {
        grid-template-columns: 1fr 1fr;
    }
    .charactor-brand{
        flex-direction: column;
        margin-top: 2rem;
    }
    .list-services{
        &.d-flex{
            flex-wrap: wrap;
            >div{
                /*flex: 0 0 50%;*/
                max-width: 48%;
                flex: 0 0 48%;
            }

        }
    }
        .packages-list{
        flex-wrap: wrap;
        justify-content: center;
        .package-item{
            flex: 0 0 300px;
        }
    }
    .brands{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .fore-footer {
        padding-block: 3rem;
        & .container {
            >.d-flex {
                flex-direction: column;
                gap: 2rem;
                & > div {
                    flex: 0 0 100%;
                    max-width: 100%;
                    > .d-flex {
                        /*flex-direction: column;*/
                        gap: 1rem;
                        .tittle, .fs-20 {
                            font-size: 14px;
                        }
                     }
                    }
                }
            }
        }
    .bg-icon{
        display: none;
    }
    .boost-your-website-score, .box-header{
        flex-direction: column;
        gap: 1rem;
    }
}
@media screen and (max-width:600px) {
    .tools-container {
        .tools-list {
            flex-direction: column;
            gap: 0rem;
            padding: 24px;
            &:nth-child(even) {
                flex-direction: column;
            }
        }
    }
    .banner-content{
        .fs-42{
            &:has(svg){
                font-size: 28px;
                text-align: start;
                align-items: start;
            }
        }
        .fs-20, .fs-18{
            text-align: start;
        }
    }
    .button{
        font-size: 14px;
    }
    .audit-grid{
        gap: 24px;
    }
    .security-grid{
        > .d-flex{
            flex-direction: column;
            gap: 1rem;
            > .img-fluid{
                width: 100%;
            }
        }
    }
    .social-icons-contact{
        a{
            background-color: #fff;
            box-shadow: 0px 5px 30px 0px rgba(47, 135, 233, 0.19);
            padding-block: .8rem;
            padding-inline: .8rem;
        }
    }
    .product-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .featured-work {
        &.portfolio-section{
            display: block;
            grid-template-columns: 1fr;

            .featured-work-image{
                flex-direction: column;
                padding: 1.5rem 1.5rem 0;
                img{
                    margin-left: initial;
                }
            }
        }
    }
    .three-column-grid {
        grid-template-columns: 1fr;
    }
    .testimonail-content {
        & .testimonail-item{
            margin-bottom: 1rem;
            .testimonail-img{
                margin-top: 0;
                img{
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }

    .two-column-grid{
        grid-template-columns:1fr;
    }
    .accordion-header{
        padding: 12px 14px;
        font-size: 16px;
    }
    .accordion-content{
        font-size: 14px;
        p{
            font-size: 14px;
        }
    }
    .lh-1 {
        line-height: 1.3;
    }
    .maintenance-img, .hosting-img{
        padding-block: 60px;
        margin-bottom: 60px;
        background-size: cover;
    }
    .hosting-img{
        margin-bottom: 20px;
    }
    .web-design-logos{
        gap: 1rem;
        img{
            max-width: 148px;
        }
    }
    .how-it-works-content{
        flex-direction: column;
    }
    p{
        br{
            display: none;
        }
    }
    .featured-work{
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .boxes{
        svg{
            display: none;
        }
    }
    .brands{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        img{
            max-width: 130px;
        }
    }
    .banner-content {
        h1 {
            font-size: 44px;
        }
        /*>.text-center{*/
        /* display: none;*/
        /*}*/
    }
    .services-section{
        >svg{
            display: none;
        }
    }
    .fs-20, .fs-18 {
        font-size: 16px;
    }
    .fs-40 {
        font-size: 30px;
    }
    .fs-42, .fs-56{
        font-size: 32px;
    }
    footer {
        & .container {
            .footer-logo{
                max-width: 140px;
            }
            & > .d-flex {
                gap: 2rem;
                & .column {
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .why-choose-us-section {
        & .boxes {
            display: flex;
            >div{
                padding-top: 0 !important;
                flex: 1 1;
            }
            & .box {
                padding: 1rem;
                min-height: 170px;
                margin-bottom: 1rem !important;
                span {
                    font-size: 32px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
    .packages-list {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .rates {
        .package-item {
            border: 1px solid #D8D8D8;
        }
    }
    .contact-us-content {
        img.img-fluid {
            max-width: 200px;
            width: 100%;
        }
    }
    .mobile-banner-content{
        display: flex;
        text-align: start;
        align-items: flex-end;
        flex-direction: column;
        img{
            display: block;
            height:auto;
            max-width: 40%;
        }
    }


        .navbar .nav-links li{
        a{
            font-size: 18px;
        }
        &:last-child{
            display: block;
            .contact{
                display: flex;
                flex-direction: column;
                align-items: end;
                a{
                    font-size: 24px;
                    svg{
                        display:none ;
                    }
                }
            }
        }
    }
    .logo{
        img{
            max-width: 180px;
            height: auto;
        }
    }


    .packages-list {
        .package-item {
            flex: 0 0 100%;
            padding: 1.5rem;
            .fs-20{
                font-size: 20px;
            }
            i {
                width: 70px;
                height: 70px;
                svg{
                    width: 32px;
                    height: 32px;
                }
            }
            .title{
                min-height: inherit;
            }
        }
    }
    .banner-content{
        flex-direction: column;
        .mobile-banner-content{
            >div{
                p{
                    margin-top: 24px;
                    &:last-child{
                        margin-top: 16px;
                    }
                }

            }

        }
    }
    
    .package-offer{
        max-width: 310px;
        border-radius: 30px;
        padding-block: 1.5rem;
    }
    .packages-list{
        .package-item{
            &:first-child{
                margin-bottom: 1.5rem;
            }
        }
    }
    .header-strip{
        .right{
            /*justify-content: space-between;*/
             >span{
                display: none;
            }
            .private-area{
                margin-left: auto;
                span{
                    display: none;
                }
            }
        }
    }
    .mobile-route-item{
        flex-direction: column;
        .mobile-route-item-content{
            .ms-auto{
                img{
                    max-width: 180px;
                }
            }
        }
    }
    .advantages-list{
        grid-template-columns: 1fr;
        margin-top: 2rem;
        & .bg-white{
            .d-flex{
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }
    }
    .call-us-at{
        margin-block: 24px;
        align-items: center;
        img{
            filter: drop-shadow(2px 4px 6px #999);
        }
    }
    .contact-section{
        .d-grid{
            grid-template-columns: auto;
        }
    }
    footer{
        .container{
            >.d-flex{
                flex-wrap: wrap;
                display: grid;
                grid-template-columns: 1fr 1fr;
                /* flex-direction: column; */
                gap: 2rem;
            }
        }
        .bottom-footer {
            font-size: 12px;
            .container{
                >.d-flex{
                    gap: 20px;
                    grid-template-columns: 1fr;
                    place-items: center;
                }
            }
            .middle-column{
                .fs-12.fw-600{
                    flex-wrap: wrap;
                }
                p{
                    margin-bottom: 10px;
                }
            }
        }
    }
    .social-icons {
        a {
            width: 28px;
            height: 28px;
            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
    .professions-container, .breadcrumbs-menu{
        padding-block: 8px;
        padding-inline: 8px;
        justify-content: start !important;
        overflow-x: auto;
        border-radius: 12px;
        align-items: center;
        &::-webkit-scrollbar{
            display: none;
        }
        a{
            padding: .8rem .4rem;
            /*flex: 0 0 136px;*/
        }
    }
    .breadcrumbs-menu{
        width: 100% !important;
        flex-wrap: wrap;
        font-size: 12px;
        a{
            flex: auto;
        }
    }
    .clients{
        margin-bottom: 0;
    }
    .gloassary-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}
@media screen and (max-width:480px) {
    .m-horizental-list{
        display: flex;
        gap: 1rem;
        > svg{
            flex: 0 0 45px;
        }
        > div.mt-16{
            margin-top: 0;
        }
    }
    .list-services{
        &.d-flex{
            >div{
                /*flex: 0 0 50%;*/
                max-width: 100%;
                flex: 0 0 100%;
            }

        }
    }
    .why-choose-us-content{
        .box-shadow.rounded.bg-white{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 1.5rem;
        }
    }
    .featured-work{
        gap: 1.5rem;
        grid-template-columns: repeat(1, 1fr);
    }
}