@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font: 16px "Urbanist", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #525252;
}
a:hover {
  color: #000;
}

.container {
  max-width: 1472px;
}

header {
  box-shadow: 0px 2px 11px 2px #00000014;
  background-color: #fff;
  position: relative;
}
@media screen and (max-width: 991px) {
  header .navbar > .container-fluid {
    flex-wrap: nowrap;
  }
  header .navbar-brand img {
    max-width: 90%;
  }
  header .navbar-collapse {
    position: absolute;
    right: 0px;
    top: 64px;
    background-color: white;
    width: 100%;
    padding: 1rem;
    z-index: 11;
  }
}

.text-color1 {
  color: #565656;
}

.text-color2 {
  color: #525252;
}

.text-color3 {
  color: #9c9ab6;
}

.text-color5 {
  color: #52647c;
}

.text-color4 {
  color: #000;
}

.text-theme1 {
  color: #9a0c47;
}

.btn-theme, .bg-theme {
  background-color: #0c849a;
}

.btn-theme1, .bg-theme1 {
  background-color: #9a0c47;
}

.font16 {
  font-size: 16px;
}

.font18, .search-content .search-box button, .search-content .search-box input, .navbar-light {
  font-size: 18px;
}

.navbar-light .navbar-nav {
  flex: 0 0 72%;
  justify-content: space-around;
}
.navbar-light .navbar-nav .nav-link {
  color: #565656;
  font-weight: 600;
  padding-left: 0;
  padding-right: 0;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover {
  color: #9a0c47;
  position: relative;
}
.navbar-light .navbar-nav .nav-link.active:after, .navbar-light .navbar-nav .nav-link:hover:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: #9a0c47;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

.home-banner {
  background-color: #fff5f9;
}

.search-content {
  max-width: 1000px;
  background-color: #fff;
  padding: 15px;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0px 0px 6px 1px #00000014;
  border-radius: 3px;
}
.search-content .search-box {
  width: 100%;
}
.search-content .search-box input:focus, .search-content .search-box select:focus {
  box-shadow: none;
}
.search-content .search-box button {
  width: 160px;
  height: 56px;
}
@media screen and (max-width: 991px) {
  .search-content .search-box button {
    height: auto;
    font-size: 16px;
  }
  .search-content .search-box button img {
    display: none;
  }
  .search-content .search-box input {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
  }
}

.border-color {
  border-color: #e7e8ea !important;
}

.border-theme {
  border-color: #9a0c47 !important;
}

.box-shadow-normal {
  box-shadow: 0px 0 6px 0px #0000001f;
}

.gray-bg {
  background-color: #f8f9fa;
}

.img-content {
  position: relative;
}
.img-content .badge {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
}
.img-content .wishlist {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  background-color: #fff;
  border-radius: 4px;
  width: 26px;
  height: 26px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-content .wishlist svg {
  fill: #bbb;
}
.img-content .wishlist.active svg {
  fill: #20bfa9;
}

.accordion-item {
  border: 0;
  margin-bottom: 10px;
}
.accordion-item .accordion-header .accordion-button, .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #262729;
}

.btn-custom {
  background-color: #eeeeee;
}

footer {
  background-color: #720b36;
  color: #fff;
}
footer a {
  color: #fff;
}
footer .copyright {
  background-color: #9a0c47;
  font-size: 15px;
}

.newsletter .input-group button {
  position: relative;
  left: -34px;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  top: 3px;
}

.page-header {
  background-image: url(../img/page-header.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.pagination .page-item {
  margin: 0 0.5rem;
}
.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link {
  border-radius: 0;
}
.pagination .page-item .page-link {
  color: #525252;
  min-width: 40px;
  text-align: center;
  border: 0;
  box-shadow: 0px 1px 2px 0px #00000042;
}
.pagination .page-item.active .page-link {
  background-color: #9a0c47;
  color: #fff;
}

.offices-address .office-list {
  max-width: 700px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.bg2 {
  background-color: #ffecf4;
}

.login-content {
  max-width: 540px;
}

.mini-nav a {
  position: relative;
  padding: 1rem 0;
  display: inline-block;
}
.mini-nav a.active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #9a0c47;
  left: 0;
  bottom: 0;
}

.pricing.bg-theme {
  color: #9fbbc1;
}
.pricing.bg-theme svg path {
  fill: #9fbbc1;
}