@font-face {
    font-family: crock;
    src: url('font/crock.ttf'); 
}
@font-face {
    font-family: erika_ormig;
    src: url('font/erika_ormig.ttf'); 
}
@font-face {
    font-family: dancing;
    src: url('font/dancing.ttf'); 
}
@font-face {
    font-family: stampwriter;
    src: url('font/stampwriter.ttf'); 
}

body{
    overflow: hidden;
}
.container_main {
    display: none;
    width:1920px;
    height:1080px;
    margin: auto;
    padding-top: 5%;
    font-family: "erika_ormig", erika_ormig, serif;
}
.image_book {
    background: url('image/background.png');
    background-size: 100% 100%;
    width: 64%;
    height: 67%;
    margin: auto;
}
.container_settings {
    display: none;
    position: relative;
    background: url('image/inkpot.png');
    background-size: 100% 100%;
    width:245px;
    height:800px;
    margin: auto;
    margin-top: -43%;
    margin-right: 20.8%;
    /* z-index: 99; */
}

.container_save {
    width: 40%;
    height: 10%;
    margin-top: -38%;
    margin-left: -40%;
}
.button_save {
    background: url('image/save_a.png');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    color: #cc7015;
}
.button_save:hover {
    background: url('image/save_b.png');
    background-size: 100% 100%;
    color: #9e9e9e;
}
.save_text {
    width: 100%;
    height: 60%;
    padding-top: 10%;
    text-align: center;
    font-size: 30px;
    font-family: "crock", crock, serif;
}
.container_button {
    display: inline-block;
    width: 46%;
    height: 100%;
    margin-left: 10.5%;
}
.button_box {
    width: 140%;
    height: 27%;
    margin-top: 95%;
    margin-left: 21%;
}

.box_textalign {
    display: block;
    width: 100%;
    height: 20%;
    padding-top: 13%;
}
.textalign_button_a {
    display: inline-block;
    background: url('image/align-left_a.png');
    background-size: 100% 100%;
    width: 25%;
    height: 100%;
    margin-left: 6%;
    border: none;
}
.textalign_button_b {
    display: inline-block;
    background: url('image/align-center_a.png');
    background-size: 100% 100%;
    width: 25%;
    height: 100%;
    margin: auto;
    margin-left: 4%;
    margin-right: 4%;
    border: none;
}
.textalign_button_c {
    display: inline-block;
    background: url('image/align-right_a.png');
    background-size: 100% 100%;
    width: 25%;
    height: 100%;
    border: none;
}
.textalign_button_a:hover {
    background: url('image/align-left_b.png');
    background-size: 100% 100%;
}
.textalign_button_b:hover {
    background: url('image/align-center_b.png');
    background-size: 100% 100%;
}
.textalign_button_c:hover {
    background: url('image/align-right_b.png');
    background-size: 100% 100%;
}

.box_fontfamily {
    display: block;
    width: 100%;
    height: 20%;
    padding-top: 13%;
}


.bold {
    font-weight: bold;
}
.initial {
    font-weight: initial;
}
.strike {
    font-weight: inherit;
}

h1 {
    font-weight: lighter;
    font-size: 90px;
    margin: 0; /* Odebere vnější okraj */
    padding: 0; /* Odebere vnitřní okraj */
}
h2 {
    font-weight: lighter;
    font-size: 46px;
    margin: 0; /* Odebere vnější okraj */
    padding: 0; /* Odebere vnitřní okraj */
}
h3 {
    font-weight: lighter;
    font-size: 20px;
    margin: 0; /* Odebere vnější okraj */
    padding: 0; /* Odebere vnitřní okraj */
}

.fonts_bolt {
    display: inline-block;
    background: url('image/bolt_icon_a.png');
    background-size: 100% 100%;
    width: 20%;
    height: 98%;
    margin-left: 4%;
    border: none;
}
.fonts_italicize {
    display: inline-block;
    background: url('image/italicize_icon_a.png');
    background-size: 100% 100%;
    width: 20%;
    height: 98%;
    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
    border: none;
}
.fonts_strike {
    display: inline-block;
    background: url('image/strike_icon_a.png');
    background-size: 100% 100%;
    width: 20%;
    height: 98%;
    margin-right: 2%;
    border: none;
}
.fonts_underline {
    display: inline-block;
    background: url('image/underline_icon_a.png');
    background-size: 100% 100%;
    width: 20%;
    height: 98%;
    border: none;
}

.fonts_bolt:hover {
    background: url('image/bolt_icon_b.png');
    background-size: 100% 100%;
}
.fonts_italicize:hover {
    background: url('image/italicize_icon_b.png');
    background-size: 100% 100%;
}
.fonts_strike:hover {
    background: url('image/strike_icon_b.png');
    background-size: 100% 100%;
}
.fonts_underline:hover {
    background: url('image/underline_icon_b.png');
    background-size: 100% 100%;
}
.box_textsize {
    display: block;
    width: 100%;
    height: 20%;
    padding-top: 13%;
}
.textsize_h1 {
    display: inline-block;
    background: url('image/h1_icon_a.png');
    background-size: 100% 100%;
    width: 25%;
    height: 100%;
    margin-left: 6%;
    border: none;
}
.textsize_h2 {
    display: inline-block;
    background: url('image/h2_icon_a.png');
    background-size: 100% 100%;
    width: 25%;
    height: 100%;
    margin: auto;
    margin-left: 4%;
    margin-right: 4%;
    border: none;
}
.textsize_h3 {
    display: inline-block;
    background: url('image/h3_icon_a.png');
    background-size: 100% 100%;
    width: 25%;
    height: 100%;
    border: none;
}
.textsize_h1:hover {
    background: url('image/h1_icon_b.png');
    background-size: 100% 100%;
}
.textsize_h2:hover {
    background: url('image/h2_icon_b.png');
    background-size: 100% 100%;
}
.textsize_h3:hover {
    background: url('image/h3_icon_b.png');
    background-size: 100% 100%;
}

#book {
	width:1040px;
	height:666px;
    margin: auto;
    margin-top: 2.1%;
}

/* #book .turn-page {
    position: relative;
}
#book .turn-page:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('image/paper_bg.png') no-repeat;
    background-size: 100% 100%;
    transform: rotate(0deg);
    transform-origin: center;
    z-index: -1;
}
#book .cover {
    background: url('image/paper_bg.png');
    background-size: 100% 100%;
}
#book .turn-page:nth-child(odd):before {
    transform: rotate(180deg);
} */

#book .turn-page {
    background: url('image/paper_bg.png');
    background-size: 100% 100%;
}
#book .cover {
    background: url('image/paper_bg.png');
    background-size: 100% 100%;
}

#book .container_box {
    width: 95%;
    height: 94%;
    overflow: hidden;
    margin: auto;
    margin-top: 2.5%;
}

#book .container_box .note_textarea {  
    background: none;
    width: 100%;
    height: 100%;
    /* word-wrap: break-word;  */


    max-height: 5em; /* Například 5em pro 5 řádků */
    max-width: 100%; /* Omezí šířku kontejneru na šířku okna */
    overflow: hidden; /* Skryje text, který by přesahoval kontejner */
    white-space: pre-wrap; /* Povoluje zalomení textu na nový řádek */
    text-overflow: ellipsis; /* Pokud text přesahuje, bude zobrazeno "..." na konci */

    outline: none;
    border: none;
    resize: none; /* Disable textarea resizing */
    overflow-y: auto; /* Povolit svislý posuvník, pokud obsah přesáhne zadaný počet řádků */
    color: #333132;
    font-size: 20px;
    text-align: left;
    font-family: "erika_ormig", erika_ormig, serif;
}


/* textarea {
    background: none;
    max-height: 94%;
    word-wrap: break-word; 
    outline: none;
    border: none;
    resize: none;
    overflow-y: hidden;
    margin: auto;
} */
#book .header {
    width: 15%;
    height: 5%;
    margin: auto;
}
#book .header .header_text{
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    color: #333132;
}
#book .loader{
    animation: rotation 2s infinite linear;
    background: url('image/cylinder.png');
    background-size: 100% 100%;
	width:90px;
	height:90px;
	display:block;
	position:absolute;
	top:42%;
	left:42%;
}
#book .data{
    /* background-color: aqua; */
	text-align:center;
	font-size:40px;
	color:#999;
	line-height:694px;
}
#controls{
	width:1140px;
    height: 0.5%;
	text-align:center;
    margin: auto;
    margin-bottom: 2%;
	font:30px arial;
}
#controls input, #controls label{
	font:30px arial;
}
#book .odd {
	background-image:-webkit-linear-gradient(left, url('images/paper_bg.png') 95%, url('images/paper_bg.png') 100%);
	background-image:-moz-linear-gradient(left, url('images/paper_bg.png') 95%, url('images/paper_bg.png') 100%);
	background-image:-o-linear-gradient(left, url('images/paper_bg.png') 95%, url('images/paper_bg.png') 100%);
	background-image:-ms-linear-gradient(left, url('images/paper_bg.png') 95%, url('images/paper_bg.png') 100%);
}

#book .even{
	background-image:-webkit-linear-gradient(right, url('images/paper_bg.png') 95%, url('images/paper_bg.png') 100%);
	background-image:-moz-linear-gradient(right, url('images/paper_bg.png') 95%, url('images/paper_bg.png') 100%);
	background-image:-o-linear-gradient(right, url('images/paper_bg.png') 95%, url('images/paper_bg.png') 100%);
	background-image:-ms-linear-gradient(right, url('images/paper_bg.png') 95%, url('images/paper_bg.png') 100%);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media screen and (max-width: 1920px) {
    .container_settings {
        width:245px;
        height:800px;
        margin: auto;
        margin-top: -56%;
        margin-right: 10.0%;
        /* z-index: 99; */
    }
}