
/* reset */

*
{
	border: 0;
	box-sizing: content-box;
    font-family: "Inter", serif;
	line-height: 1.5;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;

}

.invoice-container{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: #101010;
    padding: clamp(16px, 3dvw, 32px);
    font-size: 14px;
    color: #FAFAFA;
    min-height: 93dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.invoice-header{
    display: flex;
    margin-bottom: 1rem;

}
.fw-bold{
    font-weight: 700;
}
.fw-medium{
    font-weight: 500;
}
.fw-semibold{
    font-weight: 600;
}
.color-grey{
    color: #5E6470;
}
.invoice-header .logo{
    max-width: 240px;
}
.invoice-header span{
    margin-left: auto;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-4{
    margin-bottom: 4px;
}

.invoice-details{
    margin-top: 40px;
}
.invoice-left-content{
    display: flex;
}
.pay-until{
    margin-left: auto;
    text-align: end;
}
.bg-grey{
    background-color: rgba(53, 152, 243, 0.08)
}
.invoice-details-head{
    display: flex;
}
.invoice-details-head .invoice-left-content{
    padding: 1rem;
    border-radius: 14px 14px 0 14px;

}
.invoice-details-head  > *{
    flex: 1 1;
}
.invoice-details-head .invoice-rgt-content{
    padding: 1rem;
}
.invoice-details-body{
    padding-left: 1rem;
}
.invoice-row{
    display: flex;
    /* padding-block: 1rem; */
}
.invoice-row-left, .invoice-row-right{
    flex: 1 1;
    padding-block: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);

}
.invoice-row-right{
    padding-left: 1rem;
    white-space: nowrap;
}
.invoice-row-right > div{
    display: flex;
}
.invoice-row-right > div span{
    flex: 1 1;
}
.invoice-row-right > div span:not(:first-child){
    text-align: center;
}
.invoice-row-right > div span:last-child{
    text-align: end;
    padding-right: 1rem;
}
.invoice-details-body-head .invoice-row .invoice-row-right{
    border-radius: 0 14px 0 0px;
}
.invoice-details-body-footer .invoice-row-left, .invoice-details-body-footer .invoice-row-right{
        border-bottom: 0;
}
.invoice-details-body-footer .tobe-paid{
    font-size: 16px;
    background-color: #E87117;
    border-radius: 0 0 14px 14px;

}
.invoice-container footer > div{
    display: flex;
}
.invoice-container footer{
    margin-top: 30px;
}
.invoice-container footer > div p{
    margin-left: auto;
    text-align: end;
}
.invoice-container footer hr{
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    margin-block:1.5rem;
}